@import "../../../../scss/index.scss";

.posts-list-web {
  margin: 50px 0;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;

  img {
    width: 500px;
  }

  > h1 {
    display: grid;
    text-align: center;
    color: $font-light;
    margin: 50px 0;
  }

  .post {
    display: flex;
    color: $font-light !important;

    &__date {
      display: inline-flex !important;
      align-items: center;
      flex-direction: column;
      background-color: $primary-color;
      margin-right: 20px;
      border-radius: 5px;
      text-transform: capitalize;
      padding: 5px 15px;
    }
    .titulosposts {
      display: flex;
      color: $font-light;
      font-size: 16px;
      &:hover {
        color: $primary-color-dark;
      }
    }
  }
}
