@import "../../../scss/index.scss";

.menuinfos {
  .logo {
    float: left;
    display: inline;
    padding: 10px;

    img {
      width: 200px;
    }
  }
}
.menu-top-web {
  position: sticky;
  top: 0;
  background-color: $background-dark-web;
  border: 5px;
  display: flex;
  align-items: center;

  li {
    border: 0 !important;

    a {
      color: #fff !important;
      font-weight: bold;

      &:hover {
        color: $primary-color !important;
      }
    }
  }
}

.mobile-navigation {
  display: none;
}

@media (max-width: 990px) {
  body {
    display: flex;
  }

  .navigation {
    display: none;
  }

  .menuinfos {
    align-items: center !important;
    justify-content: center !important;

    .logo {
      align-items: center !important;
      justify-content: center !important;
      float: center !important;

      img {
        align-items: center !important;
        justify-content: center !important;
        width: 200px;
      }
    }
  }

  .mobile-navigation {
    display: flex;
    background-color: $background-dark-web;
    align-items: center;
    flex-direction: column;
    width: 100% !important;
    height: 100% !important;

    align-items: center !important;
    justify-content: center !important;

    .hamburguer {
      align-items: center;
      justify-content: center;
      display: inline;
      cursor: pointer;
    }
  }

  .menu-top-web {
    align-items: center;
    justify-content: center;
    opacity: 1;
    display: flex;
    float: left;
    flex-direction: column;
    right: 0;
    width: 150% !important;
    background: $background-dark-web;

    li {
      padding-left: 15%;
      flex-direction: column;
      a {
        color: #fff !important;
        font-size: medium !important;
        font-weight: bold;

        &:hover {
          color: $primary-color !important;
        }
      }
    }
  }
}
