@import "../../../scss/index.scss";

.social-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  a {
    display: flex;
    margin-right: 10px;
    padding: 5px 8px;
    border-radius: 5px;

    &.youtube {
      background-color: $youtube;
    }
    &.facebook {
      background-color: $facebook;
    }
    &.github {
      background-color: $github;
    }
    &.linkedin {
      background-color: $linkedin;
    }

    svg {
      width: 15px;
      height: 20px;
    }
  }
}

@media (max-width: 990px) {
  .social-links {
    display: inline;
    align-items: center;
    justify-content: center;
    float: left;
    width: auto;

    a {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      padding: 5px 8px;
      border-radius: 5px;

      &.youtube {
        background-color: $youtube;
      }
      &.facebook {
        background-color: $facebook;
      }
      &.github {
        background-color: $github;
      }
      &.linkedin {
        background-color: $linkedin;
      }

      svg {
        width: 15px;
        height: 20px;
      }
    }
  }
}
